<div class="container theme-showcase" role="main">

  <h1>jqValidator</h1>

  <div class="page-header">

    <form role="form" class="jq-verify">
      <!-- <div class="form&#45;group"> -->
      <!--   <label for="text">Text</label> -->
      <!--   <input type="text" class="form&#45;control" id="text" placeholder="Enter Text" data&#45;number data&#45;length="10"> -->
      <!-- </div> -->
      <!-- <div class="form&#45;group"> -->
      <!--   <label for="email">Email address</label> -->
      <!--   <input type="email" class="form&#45;control" id="email" placeholder="Enter email" data&#45;length="1" data&#45;mail> -->
      <!-- </div> -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" data-length="8">
      </div>
      <div class="form-group">
        <label for="textfield">Textfield</label>
        <textarea class="form-control" id="textfield" rows="3" placeholder="Textfield" data-length="10"></textarea>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-requiredbox> Remember me
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else and selecting it will deselect option one
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>

</div> <!-- /container -->
